<form [formGroup]="addressForm" (ngSubmit)="storeAddress()">
    <input type="hidden" formControlName="id">
    <div formGroupName="person">
        <div class="form-group">
            <label for="firstname">Vorname</label>
            <input type="text" id="firstname" formControlName="firstname">
        </div>
        <div class="form-group">
            <label for="lastname">Nachname</label>
            <input type="text" id="lastname" formControlName="lastname">
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Telefon</label>
        <input type="tel" id="phone" formControlName="phone">
    </div>
    <div class="actions">
        <input type="submit" class="button primary" value="Speichern"
            [disabled]="addressForm.pristine || addressForm.invalid">
        <input type="reset" class="button" value="Abbrechen" (click)="closeForm()">
    </div>
</form>