.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: calc(90vw - 25px);
    height: calc(90vh - 25px);
    margin: 12.5px auto;
    padding: 12.5px;    
}

.wrapper > * {
    background-color: rgba(143, 188, 143, 1);
    padding: 10px;
}

.heading {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content {
    flex: 1;
    overflow: auto;
}

.footer {
    border-top: 1px solid black;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}