@import url(reset.css);

html {
    font-size: 16px;
}

body {
    background-color: black;
}

.font-default {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
    text-align: center;
}