.list > * {
    line-height: 2rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.5rem;
}

.list > *:nth-child(odd) {
    background-color: rgb(94, 125, 94);
}

.list > *:hover {
    background-color: rgba(94, 188, 94, 0.6);
    border: 1px solid black;
}

.list > *.no-items {
    background-color: transparent;
    cursor: default;
    border: none;
    text-align: center;
    font-size: 2rem;
}

.button {
    position: relative;
    width: 48px;
    height: 48px;
    font-size: 48px;
    margin: 0 25px 25px 0;
}